.about_container {
    background-color: #E12E56;
    margin-top: 6vh;
    height: 20vh;
}

.about_title {
    font-family: bannerFont;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5.2vh;
    font-size: 2.9vw;
    font-weight: bold;
}

.about_main_div {
    background-color: rgb(245, 224, 227);
}

.about_img {
    border: 5px solid #E12E56;
    border-radius: 30px;
    width: 90%;
}

.about_img_div {
    width: 100%;

}

.side_border_title {
    color: #E12E56;
    font-family: bannerFont;
    font-weight: bold;
    font-size: 2.9vw;
    padding-bottom: 3vw;
    border-bottom: 5px solid #E12E56;

}

.side_border_title_div {
    margin-bottom: 5vw;
    padding-top: 4vw;
}

.about_description {
    text-align: justify;
}

@media(max-width:990px) {
    .about_description {
        margin-top: 8vw;
    }
}