* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: titleFont;
    src: url(./Fonts/BerkshireSwash-Regular.ttf);
}

/* .mainDiv {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
} */