@font-face {
    font-family: footerTite;
    src: url('./Fonts/BerkshireSwash-Regular.ttf');
}

.footer_main_container {
    background-color: #e12e56;
}

.footer_title a {
    font-family: footerTite;
    margin-top: 50px;
    color: #fff;
    font-size: 3.5vw;
    text-decoration: none;
}

@media(max-width:575px) {
    .footer_title a {
        font-size: 5.5vw;
    }
}

@media(max-width:400px) {
    .footer_title a {
        font-size: 7vw;
    }
}

.footer_links_row {
    column-gap: 5px;
}

.footer_links_row h5 a {
    color: #fff;
    text-decoration: none;
}