.main_nav_title a {
    font-family: titleFont;
    color: White;
    font-size: 3vw;
    text-decoration: none;
}

@media(max-width:575px) {
    .main_nav_title a {
        font-size: 4.4vw;
    }

    .search_Sub_icons span {
        font-size: 2vw;
    }
}

@media(max-width:420px) {
    .main_nav_title a {
        font-size: 5vw;
    }
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(./images/more.png);
}

.links_div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links_div li {
    text-decoration: none;
    list-style: none;
}

.nav_menus {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav_menus li a {
    display: flex;
    gap: 13px;
    text-decoration: none;
    color: white;
}